
.UrlCard {
  margin: 1rem;

  .titleSection{
    margin: 0;
    padding: .5rem 1rem .2rem 1rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    background: rgb(242, 199, 161);

    p {
      font-family: 'Tomorrow', sans-serif;
      font-size: 1.5rem;
    }

    .dropButton {
    background: transparent;
    border:none;
    transform: rotate(0deg);
    transition: transform 0.3s;
    font-size: 1.5rem;
    color: black;
    } 

    .dropButton:focus {
      outline: none;
    }

    .down{
      transform: rotate(180deg);
    }    

    }

  .drawer{
    display: flex;
    margin: 0;
    transition: max-height 0.3s;
    background: rgb(244, 231, 221);
  }
  
  .open{
    padding: 1rem;
    max-height: 8rem;
    p {
      padding: .5rem;
    }
  }

  .closed{
    visibility: hidden;
    max-height: 0px;
  }

  img{
    max-width: 100px;
  }
}
